.listItem {
	margin-right: 1rem;
	margin-left: 1rem;
	word-break: break-all;
}
.listItem:not(:last-child) {
	margin-bottom: 1rem;
}
.listItem:not(:first-child) {
	margin-top: 1rem;
}

.lightText {
	color: #b0b0b0;
}

.actionButtons {
	float: right;
}

.actionButton {
	background-color: inherit !important;
	color: inherit !important;
	border: none;
	margin-top: 0.5rem;
}
.actionButton:not(:last-child) {
	margin-right: 0.5rem;
}
.actionButton:hover {
	background-color: #2a2a2a !important;
}
