:root {
	--primary-color: #202020;
	--footer-color: #404040;
	--footer-text-color: #b0b0b0;
	--tertiary-color: #363636;
	--button-hover-color: #2a2a2a;
	--bold-color: #c0c0c0;
	--text-color: #d0d0d0;
	--link-color: #f0f0f0;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: Roboto, Arial, sans-serif;
	line-height: 1.6;
	font-size: 18px;
	background-color: var(--primary-color);
	color: var(--text-color);
}

* {
	box-sizing: border-box;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	color: var(--link-color);
}

footer {
	text-align: center;
	background-color: var(--footer-color) !important;
	color: var(--footer-text-color);
}

strong {
	color: var(--bold-color);
}
